In [2]:
from ibapi.client import EClient
from ibapi.wrapper import EWrapper
from ibapi.contract import Contract
import threading
import time
import pandas as pd
from datetime import datetime
import pytz

In [3]:

class IBapi(EWrapper, EClient):
    def __init__(self):
        EClient.__init__(self, self)
        self.data = []  # Initialize a container to hold our historical data

    def historicalData(self, reqId, bar):
        # Splitting the date and timezone
        date_part, timezone_part = bar.date.rsplit(" ", 1)

        # Parsing the date part
        parsed_date = datetime.strptime(date_part, '%Y%m%d %H:%M:%S')

        # Assigning the timezone
        timezone = pytz.timezone(timezone_part)
        parsed_date = timezone.localize(parsed_date)

        # Append data in the format: Datetime, Open, High, Low, Close
        self.data.append([parsed_date, bar.open, bar.high, bar.low, bar.close])

    def historicalDataEnd(self, reqId, start, end):
        # Indicates the end of historical bars
        print("Historical data download completed")

def run_loop():
    app.run()

In [ ]:
app = IBapi()
app.connect('127.0.0.1', 7497, 123)

# Start the socket in a thread
api_thread = threading.Thread(target=run_loop, daemon=True)
api_thread.start()
time.sleep(1)  # Sleep interval to ensure that the connection is established

# Create contract object
contract = Contract()
contract.symbol = "GBP"
contract.secType = "CASH"
contract.exchange = "IDEALPRO"
contract.currency = "USD"

# Define your timeframe and bar size here
timeframe = "2 Y"   # for example, 1 day
barsize = "1 hour"  # for example, 1 hour bars

# Request historical candles
app.reqHistoricalData(1, contract, '', timeframe, barsize, 'BID', 1, 1, False, [])

time.sleep(15)  # Sleep to allow enough time for data to be returned

# Convert the data to a pandas DataFrame and print
df_mid = pd.DataFrame(app.data, columns=['Datetime', 'Open', 'High', 'Low', 'Close'])

app.disconnect()

In [ ]:
app = IBapi()
app.connect('127.0.0.1', 7497, 123)

# Start the socket in a thread
api_thread = threading.Thread(target=run_loop, daemon=True)
api_thread.start()
time.sleep(1)  # Sleep interval to ensure that the connection is established

# Create contract object
contract = Contract()
contract.symbol = "GBP"
contract.secType = "CASH"
contract.exchange = "IDEALPRO"
contract.currency = "USD"

# Define your timeframe and bar size here
timeframe = "2 Y"   # for example, 1 day
barsize = "1 hour"  # for example, 1 hour bars

# Request historical candles
app.reqHistoricalData(1, contract, '', timeframe, barsize, 'BID', 1, 1, False, [])

time.sleep(15)  # Sleep to allow enough time for data to be returned

# Convert the data to a pandas DataFrame and print
df_bid = pd.DataFrame(app.data, columns=['Datetime', 'Open_BID', 'High_BID', 'Low_BID', 'Close_BID'])

app.disconnect()

In [4]:
app = IBapi()
app.connect('127.0.0.1', 7497, 123)

# Start the socket in a thread
api_thread = threading.Thread(target=run_loop, daemon=True)
api_thread.start()
time.sleep(1)  # Sleep interval to ensure that the connection is established

# Create contract object
contract = Contract()
contract.symbol = "GBP"
contract.secType = "CASH"
contract.exchange = "IDEALPRO"
contract.currency = "USD"

# Define your timeframe and bar size here
timeframe = "2 Y"   # for example, 1 day
barsize = "1 hour"  # for example, 1 hour bars

# Request historical candles
app.reqHistoricalData(1, contract, '', timeframe, barsize, 'ASK', 1, 1, False, [])

time.sleep(15)  # Sleep to allow enough time for data to be returned

# Convert the data to a pandas DataFrame and print
df_ask = pd.DataFrame(app.data, columns=['Datetime', 'Open_ASK', 'High_ASK', 'Low_ASK', 'Close_ASK'])

app.disconnect()

ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:cashfarm
ERROR -1 2104 Market data farm connection is OK:usfarm
ERROR -1 2106 HMDS data farm connection is OK:cashhmds
ERROR -1 2106 HMDS data farm connection is OK:ushmds
ERROR -1 2158 Sec-def data farm connection is OK:secdefil

Historical data download completed

In [6]:
df_ask.to_csv('df_ask.csv')

In [5]:
df_ask

                       Datetime  Open_ASK  High_ASK  Low_ASK  Close_ASK
0     2021-12-13 17:15:00-05:00   1.32280   1.32280  1.32118    1.32180
1     2021-12-13 18:00:00-05:00   1.32180   1.32180  1.32108    1.32139
2     2021-12-13 19:00:00-05:00   1.32139   1.32139  1.32042    1.32064
3     2021-12-13 20:00:00-05:00   1.32064   1.32077  1.32013    1.32032
4     2021-12-13 21:00:00-05:00   1.32032   1.32046  1.31985    1.32005
...                         ...       ...       ...      ...        ...
12482 2023-12-13 05:00:00-05:00   1.25263   1.25297  1.25097    1.25165
12483 2023-12-13 06:00:00-05:00   1.25165   1.25287  1.25135    1.25280
12484 2023-12-13 07:00:00-05:00   1.25280   1.25308  1.25159    1.25184
12485 2023-12-13 08:00:00-05:00   1.25184   1.25502  1.25173    1.25397
12486 2023-12-13 09:00:00-05:00   1.25397   1.25479  1.25314    1.25345

[12487 rows x 5 columns]

In [15]:
df_ask = pd.read_csv('df_ask.csv')
df_bid = pd.read_csv('df_bid.csv')
df_mid = pd.read_csv('df_mid.csv')

In [10]:
df_ask

,Unnamed: 0,Datetime,Open_ASK,High_ASK,Low_ASK,Close_ASK
0,0,2021-12-13 17:15:00-05:00,1.32280,1.32280,1.32118,1.32180
1,1,2021-12-13 18:00:00-05:00,1.32180,1.32180,1.32108,1.32139
2,2,2021-12-13 19:00:00-05:00,1.32139,1.32139,1.32042,1.32064
3,3,2021-12-13 20:00:00-05:00,1.32064,1.32077,1.32013,1.32032
4,4,2021-12-13 21:00:00-05:00,1.32032,1.32046,1.31985,1.32005
...,...,...,...,...,...,...
12482,12482,2023-12-13 05:00:00-05:00,1.25263,1.25297,1.25097,1.25165
12483,12483,2023-12-13 06:00:00-05:00,1.25165,1.25287,1.25135,1.25280
12484,12484,2023-12-13 07:00:00-05:00,1.25280,1.25308,1.25159,1.25184
12485,12485,2023-12-13 08:00:00-05:00,1.25184,1.25502,1.25173,1.25397
12486,12486,2023-12-13 09:00:00-05:00,1.25397,1.25479,1.25314,1.25345

In [11]:
df_bid

,Unnamed: 0,Datetime,Open_BID,High_BID,Low_BID,Close_BID
0,0,2021-12-13 17:15:00-05:00,1.32060,1.32130,1.32060,1.32114
1,1,2021-12-13 18:00:00-05:00,1.32114,1.32165,1.32100,1.32132
2,2,2021-12-13 19:00:00-05:00,1.32132,1.32132,1.32035,1.32057
3,3,2021-12-13 20:00:00-05:00,1.32057,1.32070,1.32009,1.32028
4,4,2021-12-13 21:00:00-05:00,1.32028,1.32039,1.31980,1.31999
...,...,...,...,...,...,...
12482,12482,2023-12-13 05:00:00-05:00,1.25261,1.25293,1.25093,1.25161
12483,12483,2023-12-13 06:00:00-05:00,1.25161,1.25286,1.25134,1.25276
12484,12484,2023-12-13 07:00:00-05:00,1.25276,1.25307,1.25157,1.25179
12485,12485,2023-12-13 08:00:00-05:00,1.25179,1.25495,1.25170,1.25394
12486,12486,2023-12-13 09:00:00-05:00,1.25394,1.25476,1.25311,1.25334

In [12]:
df_mid

,Unnamed: 0,Datetime,Open,High,Low,Close
0,0,2021-12-13 17:15:00-05:00,1.321700,1.321725,1.321010,1.321470
1,1,2021-12-13 18:00:00-05:00,1.321470,1.321720,1.321040,1.321355
2,2,2021-12-13 19:00:00-05:00,1.321355,1.321355,1.320385,1.320605
3,3,2021-12-13 20:00:00-05:00,1.320605,1.320735,1.320110,1.320300
4,4,2021-12-13 21:00:00-05:00,1.320300,1.320425,1.319825,1.320020
...,...,...,...,...,...,...
12482,12482,2023-12-13 05:00:00-05:00,1.252620,1.252950,1.250950,1.251630
12483,12483,2023-12-13 06:00:00-05:00,1.251630,1.252860,1.251345,1.252780
12484,12484,2023-12-13 07:00:00-05:00,1.252780,1.253075,1.251585,1.251815
12485,12485,2023-12-13 08:00:00-05:00,1.251815,1.254985,1.251715,1.253955
12486,12486,2023-12-13 09:00:00-05:00,1.253955,1.254775,1.253920,1.254260

In [16]:
df_mid['spread_close'] = -df_bid['Close_BID'] + df_ask['Close_ASK']
df_mid['spread_open'] = -df_bid['Open_BID'] + df_ask['Open_ASK']
df_mid['spread_high'] = -df_bid['High_BID'] + df_ask['High_ASK']
df_mid['spread_low'] = -df_bid['Low_BID'] + df_ask['Low_ASK']

In [18]:
df_mid.to_excel('GBPUSD_1h.xlsx')